@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#answers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0 50px;
}

#answers pre {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
    white-space: pre-wrap;
  }
